_data_/db/*
_data_/export/ean_codes.txt
_data_/export/sqldb/geiger.sqlite
_data_/export/sqldb/geiger.sqlcipher
_data_/export/convert_to_sqlcipher.sh
_data_/collect_data.sh
_data_/export/templist.html
